@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
body {
    font-family: 'Arial', sans-serif;
    background-image: url(bar.jpg);
    color: rgb(221, 103, 215);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.game-container {
    width: 90%;
    max-width: 600px;
    background: #6e3164;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 30px rgba(156, 44, 123, 0.349);
}

.controls-panel {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    background: #632b4d;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}

#status-display {
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    color: #e071b6;
    margin-bottom: 15px;
}

#main-word-area {
    background: #700d2e;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 1.8rem;
    text-shadow: 2px 2px 4px rgba(133, 51, 122, 0.3);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.cell {
    aspect-ratio: 1/1;
    background-color: #cf0e95cb;
    border-radius: 8px;
    border: 3px solid #910366;
    background-size: cover;
    background-position: center;
    /* Esto hace que la foto se vea un poco oscura por defecto */
    filter: brightness(0.4); 
    transition: all 0.1s ease;
}

/* Cuando le toca a la celda: se ilumina y crece */
.cell.active {
    filter: brightness(1.2); /* Brillo total */
    border-color: #ff00d4;
    box-shadow: 0 0 20px #ff009d;
    transform: scale(1.1);
    z-index: 10;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

#btn-start { background: #00c853; color: rgb(255, 255, 255); }
#btn-stop { background: #d50000; color: white; }
button:disabled { background: #555; cursor: not-allowed; }

h1 {
    /* Fuente bonita y moderna */
    font-family: 'Poppins', sans-serif;
    
    /* Centrado total */
    text-align: center;
    margin: 20px auto;
    
    /* Tamaño y grosor */
    font-size: 3rem;
    font-weight: 700;
    
    /* Color llamativo (puedes cambiarlo) */
    color: #db0dc0; 
    
    /* Sombra para que resalte sobre el fondo oscuro */
    text-shadow: 2px 2px 10px rgba(255, 0, 170, 0.5);
    
    /* Letras un poco separadas para un toque moderno */
    letter-spacing: 2px;
    text-transform: uppercase;
}