/* https://www.w3schools.com/howto/howto_css_two_columns.asp */
/* https://developer.mozilla.org/es/docs/Web/CSS/box-sizing */
/* Así definimos el comportamiento de caja para todos los elementos */

body {
    background-image: url('ESTEBAN_FONDO.png'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
    color: #20151c;
    font-size: 24px;        /* tamaño base */
    line-height: 1.6; 
}

* {
    box-sizing: border-box;
  }
  
/* Crear columnas de ancho diferente que se colocan una a continuación de la otra */
.columna {
float: left;
width: 33.33%;
padding: 20px;
/* padding: 10px; */
min-height: 500px;
}

.izquierda {
width: 25%;

}

.derecha {
width: 73%;
margin-left: 2%;
}

/* Clear floats despues de las columnas para eliminar la superposición */
.fila:after {
content: "";
display: table;
clear: both;
}

#c1 {
    /* width: 30%;  */
    background-color:#c498ba;
    border-radius: 20px;
    padding: 20px;
    backdrop-filter: blur(6px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}
#c1 img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 20px auto;
    border-radius: 15px;
}
#c2 {
    /* width: 40%;     */
    background-color:#d385b583;
    border-radius: 20px;
    padding: 30px;
    backdrop-filter: blur(6px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.15);
}
#c2 img {
    width: 100%;
    height: auto;
    width: 70%;
    display: block;
    margin: 0 auto 20px auto;
    border-radius: 15px;
}

/* estilos para imágenes https://www.w3schools.com/css/css3_images.asp */
/* posicionamiento de imágenes https://www.w3schools.com/css/css_positioning.asp */

/* #img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
} */
img:hover {
    transform: scale(1.03);
    transition: 0.3s ease;
}

.iresponsive {
    padding: 0 6px;
    float: left;
    width: 50%;
  }

/* Responsive layout - cuando el ancho de pantalla es menor a 600px, muestra las columnas apiladas. */
/* Así conseguimos que el contenido se vea bien en dispositvos móviles */

@media screen and (max-width: 768px) {
    .columna {
      width: 100%;
    }

    .iresponsive {
        width: 100%;
    }
}

/* Más sobre diseño web responsive https://www.w3schools.com/css/css_rwd_intro.asp */
.boton{
    background-color: rgba(233, 140, 236, 0.6); /* parecido a tarjeta-mini */
    border: 1px solid white;
    color: rgb(95, 49, 81);
    padding: 18px 30px;
    margin-top: 20px;
    width: 40%;              /* mismo ancho que la columna */
    border-radius: 20px;
    font-size: 2.3rem;
    cursor: pointer;
    box-shadow: 4 4px 8px rgba(139, 0, 133, 0.2);
    transition: all 0.3s ease;
}

/* Hover bonito */
.boton:hover {
    background-color: rgba(255, 142, 246, 0.8);
    transform: translateY(-2px); /* efecto flotante */
    box-shadow: 0 6px 12px rgba(139, 0, 133, 0.3);
}

/* Click */
.boton:active {
    transform: scale(0.98);
}
.contacto-abajo {
    /* width: 30%; */
    margin-right: 10%;
    margin-top: 2%;
    float:  right;
    padding: 10px;
    width: 80%;
    height: 20;
    margin: 1000 px auto;          /* lo centra y lo separa */
    padding: 35px;
    background: rgba(255, 255, 255, 0.61);          /* fondo sólido */
    border-radius: 25px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.25);
    text-align: center; 
    border: 3px solid #d98cd9;  /* borde que lo separa */
}

.contacto-abajo h2 {
    margin-bottom: 20px;
    color: #b14eb1;
}

.contacto-abajo p {
    margin: 20px 0;
}

/* .contacto-abajo h2 {
    margin-bottom: 15px;
} */

h2 {
    text-align: center;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

h3, h4 {
    color: #8b0085;
}
