/* https://www.w3schools.com/howto/howto_css_two_columns.asp */
/* https://developer.mozilla.org/es/docs/Web/CSS/box-sizing */
/* Así definimos el comportamiento de caja para todos los elementos */

body {
    background-image: url('belen-estebanfondo2.jpg'); 
    background-position: center;
}

* {
    box-sizing: border-box;
  }
  
/* Crear columnas de ancho diferente que se colocan una a continuación de la otra */
.columna {
float: left;
padding: 10px;
min-height: 500px;
}

.izquierda {
width: 35%;
}

.derecha {
width: 65%;
}

/* Clear floats despues de las columnas para eliminar la superposición */
.filla:after {
content: "";
display: table;
clear: both;
}

#c1 {
    background-color:#c498ba;
}

#c2 {
    background-color:#d385b583;
}

/* estilos para imágenes https://www.w3schools.com/css/css3_images.asp */
/* posicionamiento de imágenes https://www.w3schools.com/css/css_positioning.asp */

img {
    width: 100%;
    height: auto;
}

.iresponsive {
    padding: 0 6px;
    float: left;
    width: 50%;
  }

/* Responsive layout - cuando el ancho de pantalla es menor a 600px, muestra las columnas apiladas. */
/* Así conseguimos que el contenido se vea bien en dispositvos móviles */

@media screen and (max-width: 600px) {
    .columna {
      width: 100%;
    }

    .iresponsive {
        width: 100%;
    }
}

/* Más sobre diseño web responsive https://www.w3schools.com/css/css_rwd_intro.asp */
.boton{
    background-color: rgba(233, 140, 236, 0.6); /* parecido a tarjeta-mini */
    border: 1px solid white;
    color: white;
    padding: 12px 20px;
    margin-top: 10px;
    width: 100%;              /* mismo ancho que la columna */
    border-radius: 15px;
    font-size: 1.1rem;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(139, 0, 133, 0.2);
    transition: all 0.3s ease;
}

/* Hover bonito */
.boton:hover {
    background-color: rgba(255, 142, 246, 0.8);
    transform: translateY(-2px); /* efecto flotante */
    box-shadow: 0 6px 12px rgba(139, 0, 133, 0.3);
}

/* Click */
.boton:active {
    transform: scale(0.98);
}